USE [master]
GO
/****** Object:  Database [DB_QLCC]    Script Date: 13/06/2020 8:54:08 PM ******/
CREATE DATABASE [DB_QLCC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_QLCC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DB_QLCC.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_QLCC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DB_QLCC_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_QLCC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
--ALTER DATABASE [DB_QLCC] SET DELAYED_DURABILITY = DISABLED 
--GO
USE [DB_QLCC]
GO
/****** Object:  Table [dbo].[BIENBANVIPHAM]    Script Date: 26-Jun-20 4:43:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BIENBANVIPHAM](
	[MABIENBAN] [varchar](30) NOT NULL,
	[TENBIENBAN] [nvarchar](50) NULL,
	[MACUDAN] INT,
 CONSTRAINT [PK_BIENBANVIPHAM] PRIMARY KEY CLUSTERED 
(
	[MABIENBAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CANHO]    Script Date: 26-Jun-20 4:43:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CANHO](
	[MACANHO] [varchar](30) NOT NULL,
	[MATANGLAU] [varchar](30) NOT NULL,
	[MALOAI_CH] [varchar](30) NULL,
	[TENCANHO] [nvarchar](30) NULL,
	[SONGUOIO] [int] NULL,
	[CHUHO] INT,
 CONSTRAINT [PK_CANHO_1] PRIMARY KEY CLUSTERED 
(
	[MACANHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHIPHI_THANHTOAN]    Script Date: 26-Jun-20 4:43:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHIPHI_THANHTOAN](
	[MACHIPHI] [varchar](30) NOT NULL,
	[TENCHIPHI] [nvarchar](50) NULL,
	[DONVITINH] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHIPHI_THANHTOAN] PRIMARY KEY CLUSTERED 
(
	[MACHIPHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIET_HDTT]    Script Date: 26-Jun-20 4:43:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIET_HDTT](
	[MACHIPHI] [varchar](30) NULL,
	[MAHD_THANHTOAN] [varchar](30) NULL,
	[SOLUONG] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIET_VIPHAM]    Script Date: 26-Jun-20 4:43:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIET_VIPHAM](
	[MABIENBAN] [varchar](30) NULL,
	[MAVIPHAM] [varchar](30) NULL,
	[THOIGIAN_VIPHAM] [datetime] NULL,
	[LANVIPHAM] [int] NULL,
	[MUCDO_VIPHAM] [nvarchar](500) NULL,
	[HINHTHUCXULY] [nvarchar](500) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CUDAN]    Script Date: 26-Jun-20 4:43:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUDAN](
	[MACUDAN] INT not null identity(1,1),
	[TENCUDAN] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[SODIENTHOAI] [varchar](10) NULL,
	[CHUNGMINHNHANDAN] [varchar](10) NULL,
	[GIOITINH] [bit] NULL,
 CONSTRAINT [PK_CUDAN_1] PRIMARY KEY CLUSTERED 
(
	[MACUDAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CUDAN-CANHO]    Script Date: 26-Jun-20 4:43:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUDAN-CANHO](
	[ID] INT not null identity(1,1),
	[MACUDAN] int,
	[MACANHO] [varchar](30) NOT NULL,
	[NGAYBATDAUO] [date] NULL,
	[NGAYHETO] [date] NULL,
 CONSTRAINT [PK_CUDAN-CANHO] PRIMARY KEY CLUSTERED 
(
	[ID]
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DANHSACH_VIPHAM]    Script Date: 26-Jun-20 4:43:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DANHSACH_VIPHAM](
	[MAVIPHAM] [varchar](30) NOT NULL,
	[TENVIPHAM] [nvarchar](50) NULL,
	[NOIDUNG_VIPHAM] [nvarchar](500) NULL,
 CONSTRAINT [PK_DANHSACH_VIPHAM] PRIMARY KEY CLUSTERED 
(
	[MAVIPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 26-Jun-20 4:43:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MALOAIDICHVU] [int] NULL,
	[TENDICHVU] [nvarchar](50) NULL,
	[DONVITINH] [nvarchar](50) NULL,
	[CREATE_DATE] [date] NULL,
	[CREATE_BY] [int] NULL,
	[UPDATE_DATE] [date] NULL,
	[UPDATE_BY] [int] NULL,
 CONSTRAINT [PK_DICHVU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DONGIA_CPTT]    Script Date: 26-Jun-20 4:43:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DONGIA_CPTT](
	[MAGIA_CPTT] [varchar](30) NOT NULL,
	[TENGIA_CPTT] [nvarchar](50) NULL,
	[GIÁ] [int] NULL,
	[NGAYAPDUNG] [date] NULL,
	[MACHIPHI] [varchar](30) NULL,
 CONSTRAINT [PK_DONGIA_CPTT] PRIMARY KEY CLUSTERED 
(
	[MAGIA_CPTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON_THANHTOAN]    Script Date: 26-Jun-20 4:43:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON_THANHTOAN](
	[MAHD_THANHTOAN] [varchar](30) NOT NULL,
	[TENHD_THANHTOAN] [nvarchar](50) NULL,
	[TONGTIEN] [int] NULL,
	[NGAYLAP] [date] NULL,
	[MANHANVIEN] [varchar](30) NULL,
 CONSTRAINT [PK_HOADON_THANHTOAN] PRIMARY KEY CLUSTERED 
(
	[MAHD_THANHTOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAICANHO]    Script Date: 26-Jun-20 4:43:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAICANHO](
	[MALOAI_CH] [varchar](30) NOT NULL,
	[TENLOAI_CH] [nvarchar](50) NULL,
	[DIENTICH] [int] NULL,
	[SOPHONGNGU] [int] NULL,
	[SONGUOITOIDA] [int] NULL,
 CONSTRAINT [PK_LOAICANHO] PRIMARY KEY CLUSTERED 
(
	[MALOAI_CH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIDICHVU]    Script Date: 26-Jun-20 4:43:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIDICHVU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAIDICHVU] [nvarchar](50) NULL,
	[CREATE_DATE] [date] NULL,
	[CREATE_BY] [int] NULL,
	[UPDATE_DATE] [date] NULL,
	[UPDATE_BY] [int] NULL,
 CONSTRAINT [PK_LOAIDICHVU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN_TAIKHOAN]    Script Date: 26-Jun-20 4:43:55 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--SET ANSI_PADDING ON
--GO
--CREATE TABLE [dbo].[NHANVIEN_TAIKHOAN](
--	[ID] [int] IDENTITY(1,1) NOT NULL,
--	[MANHANVIEN] [varchar](30) NULL,
--	[TAIKHOAN] [varchar](30) NULL,
--	[CREATE_DATE] [date] NULL,
--	[CREATE_BY] [varchar](30) NULL,
--	[UPDATE_DATE] [date] NULL,
--	[UPDATE_BY] [varchar](30) NULL,
-- CONSTRAINT [PK_NHANVIEN_TAIKHOAN] PRIMARY KEY CLUSTERED 
--(
--	[ID] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
--) ON [PRIMARY]

--GO
--SET ANSI_PADDING OFF
--GO
/****** Object:  Table [dbo].[NHANVIEN_TOANHA]    Script Date: 26-Jun-20 4:43:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN_TOANHA](
	[MANHANVIEN] [varchar](30) NOT NULL,
	[TENNHANVIEN] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[SODIENTHOAI] [varchar](10) NULL,
	[EMAIL] [varchar](30) NULL,
 CONSTRAINT [PK_NHANVIEN_TOANHA] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHOM_TAIKHOAN]    Script Date: 26-Jun-20 4:43:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHOM_TAIKHOAN](
	[ID] INT IDENTITY(1,1) NOT NULL,
	[TENNHOM_TAIKHOAN] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHOM_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 26-Jun-20 4:43:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENDANGNHAP] [varchar](30) NOT NULL,
	[MANHOM_TAIKHOAN] int NULL,
	[MATKHAU] [varchar](30) NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TANGLAU]    Script Date: 26-Jun-20 4:43:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TANGLAU](
	[MATANGLAU] [varchar](30) NOT NULL,
	[MABLOCK] [varchar](30) NOT NULL,
	[TENTANGLAU] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TANGLAU_1] PRIMARY KEY CLUSTERED 
(
	[MATANGLAU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TOANHA]    Script Date: 26-Jun-20 4:43:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TOANHA](
	[MABLOCK] [varchar](30) NOT NULL,
	[TENBLOCK] [nvarchar](10) NULL,
	[CREATE_DATE] [date] NULL,
	[CREATE_BY] [int] NULL,
	[UPDATE_DATE] [date] NULL,
	[UPDATE_BY] [int] NULL,
 CONSTRAINT [PK__TOANHA__1FF2A67370CEB997] PRIMARY KEY CLUSTERED 
(
	[MABLOCK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

-- THÊM DỮ LIỆU

--/****** Object:  View [dbo].[VIEW_NhanKhau]    Script Date: 26-Jun-20 4:43:55 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE VIEW [dbo].[VIEW_NhanKhau]
--AS
--SELECT        dbo.TOANHA.TENBLOCK, dbo.TANGLAU.TENTANGLAU, dbo.LOAICANHO.TENLOAI_CH, dbo.LOAICANHO.DIENTICH, dbo.LOAICANHO.SOPHONGNGU, dbo.LOAICANHO.SONGUOITOIDA, dbo.[CUDAN-CANHO].NGAYBATDAUO, 
--                         dbo.[CUDAN-CANHO].NGAYHETO, dbo.CANHO.TENCANHO, dbo.CUDAN.TENCUDAN, dbo.CUDAN.NGAYSINH, dbo.CUDAN.SODIENTHOAI, dbo.CANHO.CHUHO, dbo.CANHO.SONGUOIO, dbo.CUDAN.GIOITINH, 
--                         dbo.CUDAN.CHUNGMINHNHANDAN
--FROM            dbo.CANHO INNER JOIN
--                         dbo.[CUDAN-CANHO] ON dbo.CANHO.MACANHO = dbo.[CUDAN-CANHO].MACANHO INNER JOIN
--                         dbo.CUDAN ON dbo.[CUDAN-CANHO].MACUDAN = dbo.CUDAN.MACUDAN INNER JOIN
--                         dbo.LOAICANHO ON dbo.CANHO.MALOAI_CH = dbo.LOAICANHO.MALOAI_CH INNER JOIN
--                         dbo.TANGLAU ON dbo.CANHO.MATANGLAU = dbo.TANGLAU.MATANGLAU INNER JOIN
--                         dbo.TOANHA ON dbo.TANGLAU.MABLOCK = dbo.TOANHA.MABLOCK

--GO

------------- KHÓA PHỤ
--ALTER TABLE [dbo].[BIENBANVIPHAM]  WITH CHECK ADD  CONSTRAINT [FK_BIENBANVIPHAM_CUDAN] FOREIGN KEY([MACUDAN])
--REFERENCES [dbo].[CUDAN] ([MACUDAN])
--GO
--ALTER TABLE [dbo].[BIENBANVIPHAM] CHECK CONSTRAINT [FK_BIENBANVIPHAM_CUDAN]
--GO
--ALTER TABLE [dbo].[CANHO]  WITH CHECK ADD  CONSTRAINT [FK_CANHO_LOAICANHO] FOREIGN KEY([MALOAI_CH])
--REFERENCES [dbo].[LOAICANHO] ([MALOAI_CH])
--GO
--ALTER TABLE [dbo].[CANHO] CHECK CONSTRAINT [FK_CANHO_LOAICANHO]
--GO
--ALTER TABLE [dbo].[CANHO]  WITH CHECK ADD  CONSTRAINT [FK_CANHO_TANGLAU] FOREIGN KEY([MATANGLAU])
--REFERENCES [dbo].[TANGLAU] ([MATANGLAU])
--GO
--ALTER TABLE [dbo].[CANHO] CHECK CONSTRAINT [FK_CANHO_TANGLAU]
--GO
--ALTER TABLE [dbo].[CHITIET_HDTT]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_HDTT_CHIPHI_THANHTOAN] FOREIGN KEY([MACHIPHI])
--REFERENCES [dbo].[CHIPHI_THANHTOAN] ([MACHIPHI])
--GO
--ALTER TABLE [dbo].[CHITIET_HDTT] CHECK CONSTRAINT [FK_CHITIET_HDTT_CHIPHI_THANHTOAN]
--GO
--ALTER TABLE [dbo].[CHITIET_HDTT]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_HDTT_HOADON_THANHTOAN] FOREIGN KEY([MAHD_THANHTOAN])
--REFERENCES [dbo].[HOADON_THANHTOAN] ([MAHD_THANHTOAN])
--GO
--ALTER TABLE [dbo].[CHITIET_HDTT] CHECK CONSTRAINT [FK_CHITIET_HDTT_HOADON_THANHTOAN]
--GO
--ALTER TABLE [dbo].[CHITIET_VIPHAM]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_VIPHAM_BIENBANVIPHAM] FOREIGN KEY([MABIENBAN])
--REFERENCES [dbo].[BIENBANVIPHAM] ([MABIENBAN])
--GO
--ALTER TABLE [dbo].[CHITIET_VIPHAM] CHECK CONSTRAINT [FK_CHITIET_VIPHAM_BIENBANVIPHAM]
--GO
--ALTER TABLE [dbo].[CHITIET_VIPHAM]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_VIPHAM_DANHSACH_VIPHAM] FOREIGN KEY([MAVIPHAM])
--REFERENCES [dbo].[DANHSACH_VIPHAM] ([MAVIPHAM])
--GO
--ALTER TABLE [dbo].[CHITIET_VIPHAM] CHECK CONSTRAINT [FK_CHITIET_VIPHAM_DANHSACH_VIPHAM]
--GO
--ALTER TABLE [dbo].[CUDAN-CANHO]  WITH CHECK ADD  CONSTRAINT [FK_CUDAN-CANHO_CANHO] FOREIGN KEY([MACANHO])
--REFERENCES [dbo].[CANHO] ([MACANHO])
--GO
--ALTER TABLE [dbo].[CUDAN-CANHO] CHECK CONSTRAINT [FK_CUDAN-CANHO_CANHO]
--GO
--ALTER TABLE [dbo].[CUDAN-CANHO]  WITH CHECK ADD  CONSTRAINT [FK_CUDAN-CANHO_CUDAN] FOREIGN KEY([MACUDAN])
--REFERENCES [dbo].[CUDAN] ([MACUDAN])
--GO
--ALTER TABLE [dbo].[CUDAN-CANHO] CHECK CONSTRAINT [FK_CUDAN-CANHO_CUDAN]
--GO
--ALTER TABLE [dbo].[DONGIA_CPTT]  WITH CHECK ADD  CONSTRAINT [FK_DONGIA_CPTT_CHIPHI_THANHTOAN] FOREIGN KEY([MACHIPHI])
--REFERENCES [dbo].[CHIPHI_THANHTOAN] ([MACHIPHI])
--GO
--ALTER TABLE [dbo].[DONGIA_CPTT] CHECK CONSTRAINT [FK_DONGIA_CPTT_CHIPHI_THANHTOAN]
--GO
--ALTER TABLE [dbo].[HOADON_THANHTOAN]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_THANHTOAN_NHANVIEN_TOANHA] FOREIGN KEY([MANHANVIEN])
--REFERENCES [dbo].[NHANVIEN_TOANHA] ([MANHANVIEN])
--GO
--ALTER TABLE [dbo].[HOADON_THANHTOAN] CHECK CONSTRAINT [FK_HOADON_THANHTOAN_NHANVIEN_TOANHA]
--GO
--ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_NHOM_TAIKHOAN] FOREIGN KEY([MANHOM_TAIKHOAN])
--REFERENCES [dbo].[NHOM_TAIKHOAN] ([MANHOM_TAIKHOAN])
--GO
--ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_NHOM_TAIKHOAN]
--GO
--ALTER TABLE [dbo].[TANGLAU]  WITH CHECK ADD  CONSTRAINT [FK_TANGLAU_CHUNGCU] FOREIGN KEY([MABLOCK])
--REFERENCES [dbo].[TOANHA] ([MABLOCK])
--GO
--ALTER TABLE [dbo].[TANGLAU] CHECK CONSTRAINT [FK_TANGLAU_CHUNGCU]
--GO
