USE [master]
GO
/****** Object:  Database [DB_QLCC]    Script Date: 7/13/2020 5:10:22 PM ******/
CREATE DATABASE [DB_QLCC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_QLCC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DB_QLCC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_QLCC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DB_QLCC_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_QLCC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_QLCC]
GO
/****** Object:  Table [dbo].[CANHO]    Script Date: 7/13/2020 5:10:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CANHO](
	[MACANHO] [varchar](30) NOT NULL,
	[MATANGLAU] [varchar](30) NOT NULL,
	[MALOAI_CH] [varchar](30) NULL,
	[TENCANHO] [nvarchar](30) NULL,
	[SONGUOIO] [int] NULL,
	[CHUHO] [int] NULL,
 CONSTRAINT [PK_CANHO_1] PRIMARY KEY CLUSTERED 
(
	[MACANHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUDAN]    Script Date: 7/13/2020 5:10:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUDAN](
	[MACUDAN] [int] IDENTITY(1,1) NOT NULL,
	[TENCUDAN] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[SODIENTHOAI] [varchar](10) NULL,
	[CHUNGMINHNHANDAN] [varchar](10) NULL,
	[GIOITINH] [bit] NULL,
 CONSTRAINT [PK_CUDAN_1] PRIMARY KEY CLUSTERED 
(
	[MACUDAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUDAN-CANHO]    Script Date: 7/13/2020 5:10:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUDAN-CANHO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MACUDAN] [int] NULL,
	[MACANHO] [varchar](30) NOT NULL,
	[NGAYBATDAUO] [date] NULL,
	[NGAYHETO] [date] NULL,
 CONSTRAINT [PK_CUDAN-CANHO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
--/****** Object:  View [dbo].[VIEW_NHANKHAU]    Script Date: 7/13/2020 5:10:22 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
---- Tao View Nhan Khau
--CREATE VIEW [dbo].[VIEW_NHANKHAU] AS 
--	SELECT  cdch.* , ch.TENCANHO , cd.TENCUDAN , cd.NGAYSINH , cd.CHUNGMINHNHANDAN , cd.GIOITINH , cd.SODIENTHOAI
--	FROM    dbo.[CUDAN-CANHO] cdch INNER JOIN
--			dbo.[CANHO] ch ON cdch.MACANHO = ch.MACANHO INNER JOIN
--			dbo.CUDAN cd ON cdch.MACUDAN =cd.MACUDAN 
 
--GO
/****** Object:  Table [dbo].[LOAICANHO]    Script Date: 7/13/2020 5:10:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAICANHO](
	[MALOAI_CH] [varchar](30) NOT NULL,
	[TENLOAI_CH] [nvarchar](50) NULL,
	[DIENTICH] [int] NULL,
	[SOPHONGNGU] [int] NULL,
	[SONGUOITOIDA] [int] NULL,
 CONSTRAINT [PK_LOAICANHO] PRIMARY KEY CLUSTERED 
(
	[MALOAI_CH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TANGLAU]    Script Date: 7/13/2020 5:10:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TANGLAU](
	[MATANGLAU] [varchar](30) NOT NULL,
	[MABLOCK] [varchar](30) NOT NULL,
	[TENTANGLAU] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TANGLAU_1] PRIMARY KEY CLUSTERED 
(
	[MATANGLAU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TOANHA]    Script Date: 7/13/2020 5:10:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOANHA](
	[MABLOCK] [varchar](30) NOT NULL,
	[TENBLOCK] [nvarchar](10) NULL,
	[NGAYTAO] [date] NULL,
	[NGUOITAO] [int] NULL,
	[NGAYCAPNHAT] [date] NULL,
	[NGUOICAPNHAT] [int] NULL,
 CONSTRAINT [PK__TOANHA__1FF2A67370CEB997] PRIMARY KEY CLUSTERED 
(
	[MABLOCK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VIEW_APARTMENT]    Script Date: 7/13/2020 5:10:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--create view [dbo].[VIEW_APARTMENT] AS
--	select ch.*,tn.MABLOCK, tn.TENBLOCK,t.TENTANGLAU,lch.TENLOAI_CH,cd.TENCUDAN as TENCHUho,cd.CHUNGMINHNHANDAN AS CMND_CHUHO
--	from CANHO ch
--	inner join LOAICANHO lch on ch.MALOAI_CH = lch.MALOAI_CH
--	inner join TANGLAU t on t.MATANGLAU = ch.MATANGLAU
--	inner join TOANHA tn on tn.MABLOCK = t.MABLOCK
--	left join CUDAN cd on ch.CHUHO = cd.MACUDAN
--GO
--/****** Object:  View [dbo].[VIEW_BLOCK]    Script Date: 7/13/2020 5:10:22 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

--create view [dbo].[VIEW_BLOCK] AS
--	select ch.*,tn.MABLOCK, tn.TENBLOCK,t.TENTANGLAU,lch.TENLOAI_CH,cd.MACUDAN,cd.CHUNGMINHNHANDAN 
--	from CANHO ch
--	inner join LOAICANHO lch on ch.MALOAI_CH = lch.MALOAI_CH
--	inner join TANGLAU t on t.MATANGLAU = ch.MATANGLAU
--	inner join TOANHA tn on tn.MABLOCK = t.MABLOCK
--	left join CUDAN cd on ch.CHUHO = cd.MACUDAN
--GO
--/****** Object:  View [dbo].[VIEW_FLOOR]    Script Date: 7/13/2020 5:10:22 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO


--create view [dbo].[VIEW_FLOOR] AS
--	select tl.*,tn.TENBLOCK
--	from TANGLAU tl
--	inner join TOANHA tn on tn.MABLOCK = tl.MABLOCK
--GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 7/13/2020 5:10:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MADICHVU] [varchar](30) NULL,
	[MALOAIDICHVU] [varchar](30) NULL,
	[TENDICHVU] [nvarchar](50) NULL,
	[DONVITINH] [nvarchar](50) NULL,
	[TRANGTHAI] [nvarchar](30) NULL,
	[NGAYTAO] [date] NULL,
	[NGUOITAO] [int] NULL,
	[NGAYCAPNHAT] [date] NULL,
	[NGUOICAPNHAT] [int] NULL,
 CONSTRAINT [PK_DICHVU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIDICHVU]    Script Date: 7/13/2020 5:10:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIDICHVU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MALOAIDICHVU]  [varchar](30) NULL,
	[TENLOAIDICHVU] [nvarchar](50) NULL,
	[NGAYTAO] [date] NULL,
	[NGUOITAO] [int] NULL,
	[NGAYCAPNHAT] [date] NULL,
	[NGUOICAPNHAT] [int] NULL,
 CONSTRAINT [PK_LOAIDICHVU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
--/****** Object:  View [dbo].[VIEW_SERVICE]    Script Date: 7/13/2020 5:10:22 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

--create view [dbo].[VIEW_SERVICE] 
--as
--	select d.* , dv.TENLOAIDICHVU
--	from DICHVU d
--	inner join LOAIDICHVU dv on d.MALOAIDICHVU = dv.ID
--GO
/****** Object:  Table [dbo].[BIENBANVIPHAM]    Script Date: 7/13/2020 5:10:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BIENBANVIPHAM](
	[MABIENBAN] [varchar](30) NOT NULL,
	[TENBIENBAN] [nvarchar](50) NULL,
	[MACUDAN] [int] NULL,
 CONSTRAINT [PK_BIENBANVIPHAM] PRIMARY KEY CLUSTERED 
(
	[MABIENBAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIET_HOADON]    Script Date: 7/13/2020 5:10:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_HOADON](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MA_HD] [int] NULL,
	[MADICHVU] [int] NULL,
	[SOLUONG] [int] NULL,
	[DONVITINH] [nvarchar](50) NULL,
	[DONGIA] [float] NULL,
	[TONGTIEN] [float] NULL,
 CONSTRAINT [PK_CHITIET_HOADON] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIET_VIPHAM]    Script Date: 7/13/2020 5:10:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_VIPHAM](
	[MABIENBAN] [varchar](30) NULL,
	[MAVIPHAM] [varchar](30) NULL,
	[THOIGIAN_VIPHAM] [datetime] NULL,
	[LANVIPHAM] [int] NULL,
	[MUCDO_VIPHAM] [nvarchar](500) NULL,
	[HINHTHUCXULY] [nvarchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGKY_CONGCONG]    Script Date: 7/13/2020 5:10:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGKY_CONGCONG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MACUDAN] [int] NULL,
	[MADICHVU] [varchar](30) NULL,
	[DONVITINH] [nvarchar](50) NULL,
	[SOLUONG] [int] NULL,
	[TRANG_THAI] [nvarchar](30) NULL,
	[NGAYTAO] [date] NULL,
	[NGUOITAO] [int] NULL,
	[NGAYCAPNHAT] [date] NULL,
	[NGUOICAPNHAT] [int] NULL,
 CONSTRAINT [PK_DANGKY_CONGCONG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGKY_DINHKY]    Script Date: 7/13/2020 5:10:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGKY_DINHKY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MACANHO] [varchar](30) NULL,
	[MADICHVU] [varchar](30) NULL,
	[TRANG_THAI] [nvarchar](30) NULL,
	[NGAYTAO] [date] NULL,
	[NGUOITAO] [int] NULL,
	[NGAYCAPNHAT] [date] NULL,
	[NGUOICAPNHAT] [int] NULL,
 CONSTRAINT [PK_DANGKY_DINHKY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHSACH_VIPHAM]    Script Date: 7/13/2020 5:10:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHSACH_VIPHAM](
	[MAVIPHAM] [varchar](30) NOT NULL,
	[TENVIPHAM] [nvarchar](50) NULL,
	[NOIDUNG_VIPHAM] [nvarchar](500) NULL,
 CONSTRAINT [PK_DANHSACH_VIPHAM] PRIMARY KEY CLUSTERED 
(
	[MAVIPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONGIA]    Script Date: 7/13/2020 5:10:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONGIA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DONGIA] [float] NULL,
	[DONVITINH] [nvarchar](30) NULL,
	[TUNGAY] [date] NULL,
	[DENNGAY] [date] NULL,
 CONSTRAINT [PK_DONGIA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON_CONGCONG]    Script Date: 7/13/2020 5:10:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON_CONGCONG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MACUDAN] [int] NULL,
	[TONGTIEN] [float] NULL,
	[NGAYTAO] [date] NULL,
	[NGUOITAO] [int] NULL,
	[NGAYCAPNHAT] [date] NULL,
	[NGUOICAPNHAT] [int] NULL,
 CONSTRAINT [PK_HOADON_CONGCONG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON_DINHKY]    Script Date: 7/13/2020 5:10:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON_DINHKY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MACANHO] [varchar](30) NULL,
	[TONGTIEN] [float] NULL,
	[NGAYTAO] [date] NULL,
	[NGUOITAO] [int] NULL,
	[NGAYCAPNHAT] [date] NULL,
	[NGUOICAPNHAT] [int] NULL,
 CONSTRAINT [PK_HOADON_DINHKY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN_TOANHA]    Script Date: 7/13/2020 5:10:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN_TOANHA](
	[MANHANVIEN] [varchar](30) NOT NULL,
	[TENNHANVIEN] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[SODIENTHOAI] [varchar](10) NULL,
	[EMAIL] [varchar](30) NULL,
 CONSTRAINT [PK_NHANVIEN_TOANHA] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHOM_TAIKHOAN]    Script Date: 7/13/2020 5:10:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOM_TAIKHOAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENNHOM_TAIKHOAN] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHOM_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 7/13/2020 5:10:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENDANGNHAP] [varchar](30) NOT NULL,
	[MANHOM_TAIKHOAN] [int] NULL,
	[MATKHAU] [varchar](30) NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
--/****** Object:  StoredProcedure [dbo].[PR_CHANGR_HOME]    Script Date: 7/13/2020 5:10:22 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

--CREATE PROC [dbo].[PR_CHANGR_HOME]
--	@OLD_HOME VARCHAR(30) , @NEW_HOME VARCHAR(30)
--AS
--BEGIN
--	UPDATE CANHO SET SONGUOIO = SONGUOIO - 1 WHERE MACANHO = @OLD_HOME 
--	UPDATE CANHO SET SONGUOIO = SONGUOIO + 1 WHERE MACANHO = @NEW_HOME 
--END
--GO
--/****** Object:  StoredProcedure [dbo].[PR_GetCustomApartment]    Script Date: 7/13/2020 5:10:22 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

--create proc [dbo].[PR_GetCustomApartment] as
--begin
--	select tn.TENBLOCK,t.TENTANGLAU,ch.TENCANHO,lch.TENLOAI_CH,lch.DIENTICH,lch.SOPHONGNGU,lch.SONGUOITOIDA,ch.SONGUOIO,cd.TENCUDAN
--	from CANHO ch
--	inner join LOAICANHO lch on ch.MALOAI_CH = lch.MALOAI_CH
--	inner join TANGLAU t on t.MATANGLAU = ch.MATANGLAU
--	inner join TOANHA tn on tn.MABLOCK = t.MABLOCK
--	left join CUDAN cd on ch.CHUHO = cd.MACUDAN
--end
--GO
--/****** Object:  StoredProcedure [dbo].[PR_INSERT_APARTMENT]    Script Date: 7/13/2020 5:10:22 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

--CREATE PROC [dbo].[PR_INSERT_APARTMENT] 
--	@MaCanHo varchar(10), @MaTangLau varchar(30),@MaLoaiCH varchar(30),@TenCanHo nvarchar(30),@SoNguoiO int, @ChuHo int
--AS
--BEGIN
--	INSERT CANHO (MACANHO , MATANGLAU , MALOAI_CH , TENCANHO , SONGUOIO , CHUHO) 
--	VALUES (@MaCanHo,@TenCanHo,@MaLoaiCH,@TenCanHo,@SoNguoiO, @ChuHo )
--END
--GO
--/****** Object:  StoredProcedure [dbo].[PR_INSERT_ApartmentCategogy]    Script Date: 7/13/2020 5:10:22 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

--create proc [dbo].[PR_INSERT_ApartmentCategogy]
--@MALOAI_CH VARCHAR(30) , @TENLOAI_CH NVARCHAR(50) , @DIENTICH INT , @SOPHONGNGU INT,@SONGUOITOIDA INT
--AS
--BEGIN
--	INSERT LOAICANHO (MALOAI_CH,TENLOAI_CH,DIENTICH,SOPHONGNGU,SONGUOITOIDA)
--	VALUES (@MALOAI_CH,@TENLOAI_CH,@DIENTICH,@SOPHONGNGU,@SONGUOITOIDA)
--END
--GO
--/****** Object:  StoredProcedure [dbo].[PR_INSERT_CUDAN]    Script Date: 7/13/2020 5:10:22 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--/****** Object:  StoredProcedure [dbo].[PR_InserResident]    Script Date: 26-Jun-20 4:43:55 PM ******/
--CREATE PROCEDURE [dbo].[PR_INSERT_CUDAN]
-- @TenCuDan nvarchar(50),@NgaySinh date,@SoDienThoai varchar(10),@Cmnd varchar(10) , @GioiTinh int
--AS
--BEGIN	
--	INSERT [dbo].[CUDAN] ([TENCUDAN], [NGAYSINH], [SODIENTHOAI], [CHUNGMINHNHANDAN] , [GIOITINH]) VALUES (@TenCuDan, @NgaySinh, @SoDienThoai, @Cmnd ,@GioiTinh)	
--END
--GO
--/****** Object:  StoredProcedure [dbo].[PR_INSERT_CUDAN_CANHO]    Script Date: 7/13/2020 5:10:22 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO


--create proc  [dbo].[PR_INSERT_CUDAN_CANHO] 
--	@MaCuDan int , @MaCanHo varchar(30) 
--as
--begin	
--	INSERT [dbo].[CUDAN-CANHO] ([MACUDAN], [MACANHO], [NGAYBATDAUO], [NGAYHETO]) 
--	VALUES (@MaCuDan, @MaCanHo, GetDate(), Null)	
--end
--GO
--/****** Object:  StoredProcedure [dbo].[PR_INSERT_DVCC]    Script Date: 7/13/2020 5:10:22 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

--CREATE PROC [dbo].[PR_INSERT_DVCC] 
--	@MADICHVU INT,@MACUDAN INT, @TRANG_THAI NVARCHAR(30), @STAFF INT ,@DONVITINH NVARCHAR(50),@SOLUONG INT
--AS
--BEGIN
--	INSERT DANGKY_CONGCONG (MADICHVU , MACUDAN,TRANG_THAI,NGUOITAO , NGAYTAO,DONVITINH,SOLUONG)
--	VALUES (@MADICHVU , @MACUDAN,@TRANG_THAI,@STAFF,GETDATE(),@DONVITINH,@SOLUONG)
--END
--GO
--/****** Object:  StoredProcedure [dbo].[PR_INSERT_DVDK]    Script Date: 7/13/2020 5:10:22 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

--CREATE PROC [dbo].[PR_INSERT_DVDK] 
--	@MADICHVU INT,@MACANHO VARCHAR(30), @TRANG_THAI NVARCHAR(30), @STAFF INT
--AS
--BEGIN
--	INSERT DANGKY_DINHKY (MADICHVU , MACANHO,TRANG_THAI,NGUOITAO , NGAYTAO)
--	VALUES (@MADICHVU , @MACANHO,@TRANG_THAI,@STAFF,GETDATE())
--END
--GO
--/****** Object:  StoredProcedure [dbo].[PR_INSERT_FLOOR]    Script Date: 7/13/2020 5:10:22 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

--create proc [dbo].[PR_INSERT_FLOOR] 
--@MATANGLAU varchar(30), @TENTANGLAU nvarchar(50), @MABLOCK varchar(30)
--as
--begin
--	INSERT TANGLAU (MATANGLAU,TENTANGLAU,MABLOCK) VALUES(@MATANGLAU,@TENTANGLAU,@MABLOCK)
--end
--GO
--/****** Object:  StoredProcedure [dbo].[PR_INSERT_Service]    Script Date: 7/13/2020 5:10:22 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

--create proc [dbo].[PR_INSERT_Service]
--	@MALOAIDICHVU INT , @TENDICHVU NVARCHAR(50) , @DONVITINH nvarchar(50) , @NGUOITAO INT 
--AS
--BEGIN
--	INSERT DICHVU (MALOAIDICHVU , TENDICHVU , DONVITINH , NGAYTAO , NGUOITAO)
--	VALUES (@MALOAIDICHVU , @TENDICHVU ,@DONVITINH , GETDATE() , @NGUOITAO)
--END
--GO
--/****** Object:  StoredProcedure [dbo].[PR_INSERT_ServiceCategogy]    Script Date: 7/13/2020 5:10:22 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

----select * from LOAIDICHVU

--create proc [dbo].[PR_INSERT_ServiceCategogy] 
-- @TENLOAIDICHVU NVARCHAR(50), @NGUOITAO INT
--AS
--BEGIN
--	INSERT LOAIDICHVU ( TENLOAIDICHVU , NGAYTAO , NGUOITAO , NGAYCAPNHAT , NGUOICAPNHAT )
--	VALUES(@TENLOAIDICHVU , GETDATE(),@NGUOITAO,null,null)
--END
--GO
--/****** Object:  StoredProcedure [dbo].[PR_LayThongTinChuHo]    Script Date: 7/13/2020 5:10:22 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

---- Lấy thông tin chủ hộ từ căn hộ
--create proc [dbo].[PR_LayThongTinChuHo] 
--	@maCanHo varchar(30)
--AS
--BEGIN
--	SELECT * FROM CUDAN cd
--	INNER JOIN CANHO ch ON cd.MACUDAN = ch.CHUHO
--END
--GO
--/****** Object:  StoredProcedure [dbo].[PR_login]    Script Date: 7/13/2020 5:10:22 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

--/****** Object:  StoredProcedure [dbo].[PR_login]    Script Date: 26-Jun-20 4:43:55 PM ******/
---- proc Login
--CREATE PROCEDURE [dbo].[PR_login] 
-- @username varchar(30), @password varchar(30)
--AS
--BEGIN
--	SELECT * FROM TAIKHOAN WHERE TENDANGNHAP = @username and MATKHAU = @password
--END

--GO
--/****** Object:  StoredProcedure [dbo].[PR_UPDATE_APARTMENT]    Script Date: 7/13/2020 5:10:22 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

--CREATE PROC [dbo].[PR_UPDATE_APARTMENT] 
--	@MaCanHo varchar(10), @MaTangLau varchar(30),@MaLoaiCH varchar(30),@TenCanHo nvarchar(30),@SoNguoiO int,@ChuHo int
--AS
--BEGIN
--	UPDATE CANHO 
--	SET MATANGLAU = @MaTangLau , MALOAI_CH = @MaLoaiCH , TENCANHO = @TenCanHo , SONGUOIO = @SoNguoiO , CHUHO = @ChuHo
--	WHERE MACANHO = @MaCanHo
--END
--GO
--/****** Object:  StoredProcedure [dbo].[PR_UPDATE_ApartmentCategogy]    Script Date: 7/13/2020 5:10:22 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

--create proc [dbo].[PR_UPDATE_ApartmentCategogy]
--@MALOAI_CH VARCHAR(30) , @TENLOAI_CH NVARCHAR(50) , @DIENTICH INT , @SOPHONGNGU INT,@SONGUOITOIDA INT
--AS
--BEGIN
--	UPDATE LOAICANHO 
--	SET TENLOAI_CH = @TENLOAI_CH, DIENTICH = @DIENTICH,SOPHONGNGU = @SOPHONGNGU,SONGUOITOIDA = @SONGUOITOIDA
--	WHERE MALOAI_CH = @MALOAI_CH
--END
--GO
--/****** Object:  StoredProcedure [dbo].[PR_UPDATE_CUDAN]    Script Date: 7/13/2020 5:10:22 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

--CREATE PROCEDURE [dbo].[PR_UPDATE_CUDAN]
-- @MaCuDan int, @TenCuDan nvarchar(50), @NgaySinh date, @SoDienThoai varchar(10), @Cmnd varchar(10) , @GioiTinh int
--AS
--BEGIN	
--	UPDATE [dbo].[CUDAN] 
--	SET [TENCUDAN] = @TenCuDan, [NGAYSINH] = @NgaySinh, [SODIENTHOAI] = @SoDienThoai , [CHUNGMINHNHANDAN] = @Cmnd, [GIOITINH] = @GioiTinh
--	WHERE [MACUDAN] = @MaCuDan	
--END
--GO
--/****** Object:  StoredProcedure [dbo].[PR_UPDATE_CUDAN_CANHO]    Script Date: 7/13/2020 5:10:22 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

--create proc  [dbo].[PR_UPDATE_CUDAN_CANHO]
--	@Id int ,@MaCuDan int , @MaCanHo varchar(30) , @NgayVaoO date, @NgayHetO date
--as
--begin	
--	UPDATE [dbo].[CUDAN-CANHO] 
--	SET [NGAYBATDAUO] = @NgayVaoO, [NGAYHETO] =  @NgayHetO , MACUDAN = @MaCuDan	
--	WHERE ID = @Id
--end
--GO
--/****** Object:  StoredProcedure [dbo].[PR_UPDATE_DVCC]    Script Date: 7/13/2020 5:10:22 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

--CREATE PROC [dbo].[PR_UPDATE_DVCC]
--	@ID INT ,@MADICHVU INT,@MACUDAN VARCHAR(30), @TRANG_THAI NVARCHAR(30), @STAFF INT,@DONVITINH NVARCHAR(50),@SOLUONG INT
--AS
--BEGIN
--	UPDATE DANGKY_CONGCONG
--	SET MADICHVU = @MADICHVU , MACUDAN = @MACUDAN , TRANG_THAI = @TRANG_THAI , NGUOICAPNHAT = @STAFF , NGAYCAPNHAT = GETDATE(),DONVITINH = @DONVITINH ,SOLUONG = @SOLUONG 
--	WHERE ID = @ID
--END
--GO
--/****** Object:  StoredProcedure [dbo].[PR_UPDATE_DVDK]    Script Date: 7/13/2020 5:10:22 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

--CREATE PROC [dbo].[PR_UPDATE_DVDK] 
--	@ID INT ,@MADICHVU INT,@MACANHO VARCHAR(30), @TRANG_THAI NVARCHAR(30), @STAFF INT
--AS
--BEGIN
--	UPDATE DANGKY_DINHKY
--	SET MADICHVU = @MADICHVU , MACANHO = @MACANHO , TRANG_THAI = @TRANG_THAI , NGUOICAPNHAT = @STAFF , NGAYCAPNHAT = GETDATE()
--	WHERE ID = @ID
--END
--GO
--/****** Object:  StoredProcedure [dbo].[PR_UPDATE_FLOOR]    Script Date: 7/13/2020 5:10:22 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

--create proc [dbo].[PR_UPDATE_FLOOR] 
--@MATANGLAU varchar(30), @TENTANGLAU nvarchar(50), @MABLOCK varchar(30)
--as
--begin
--	UPDATE TANGLAU 
--	SET TENTANGLAU = @TENTANGLAU , MABLOCK = @MABLOCK
--	WHERE MATANGLAU = @MATANGLAU
--end
--GO
--/****** Object:  StoredProcedure [dbo].[PR_UPDATE_Service]    Script Date: 7/13/2020 5:10:22 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

--create proc [dbo].[PR_UPDATE_Service]
--@ID int, @MALOAIDICHVU INT , @TENDICHVU NVARCHAR(50) , @DONVITINH nvarchar(50) , @NGUOICAPNHAT INT
--AS
--BEGIN
--	UPDATE DICHVU 
--	SET MALOAIDICHVU = @MALOAIDICHVU , TENDICHVU = @TENDICHVU , DONVITINH = @DONVITINH , NGAYCAPNHAT = GETDATE() , NGUOICAPNHAT = @NGUOICAPNHAT
--	WHERE ID = @ID
--END
--GO
--/****** Object:  StoredProcedure [dbo].[PR_UPDATE_ServiceCategogy]    Script Date: 7/13/2020 5:10:22 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

--create proc [dbo].[PR_UPDATE_ServiceCategogy] 
--@ID INT, @TENLOAIDICHVU NVARCHAR(50), @NGUOICAPNHAT INT
--AS
--BEGIN
--	UPDATE LOAIDICHVU 
--	SET TENLOAIDICHVU = @TENLOAIDICHVU ,  NGUOICAPNHAT = @NGUOICAPNHAT , NGAYCAPNHAT = GETDATE()
--	WHERE ID = @ID
--END
--GO
USE [master]
GO
