<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyChungCu.Properties.Settings.DB_QLCCConnectionString"
            connectionString="Data Source=DESKTOP-Q7MMO9N\SQLEXPRESS;Initial Catalog=DB_QLCC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>